
<div class="home-page">
<div class="navbarr">
<h2 class="navbar-title">GitHub</h2>
</div>
<h1>New Repository</h1>
<div class="new-user-card">
<%= render 'form', repository: @repository %>

<div class="back-btn"><%= link_to 'Back', repositories_path %></div>
</div>
</div>


